[submodule "tools/picoprobe"]
	path = tools/picoprobe
	url = https://github.com/raspberrypi/picoprobe.git
[submodule "assignments/assign02"]
	path = assignments/assign02
	url = git@gitlab.scss.tcd.ie:finlayc3/assign02.git
